<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Label</key>
    <string>com.github.drakkan.sftpgo</string>
    <key>UserName</key>
    <string>_sftpgo</string>
    <key>WorkingDirectory</key>
    <string>/Users/_sftpgo/app/sftpgo/</string>
    <key>ProgramArguments</key>
    <array>
        <string>/usr/local/bin/pkgx +sftpgo.com^${SFTPGO_VERSION} sftpgo-wrapper ${HOME}</string>
        <string>serve</string>
    </array>
    <key>KeepAlive</key>
    <true/>
    <key>ThrottleInterval</key>
    <integer>10</integer>
</dict>
</plist>
