[Unit]
Description=SFTPGo Server
After=network.target

[Service]
Type=simple
User=_sftpgo
Group=_sftpgo
#WorkingDirectory=/etc/sftpgo
#RuntimeDirectory=sftpgo
EnvironmentFile=/etc/sftpgo/sftpgo.env
#ExecSearchPath=/usr/local/bin
#ExecStart=pkgx +${PKGX_SFTPGO_PROJECT}^${PKGX_SFTPGO_VERSION} sftpgo serve
ExecStart=/bin/bash -c "/usr/local/bin/pkgx +${PKGX_SFTPGO_PROJECT}^${PKGX_SFTPGO_VERSION} sftpgo serve --config-file ${SFTPGO_CONFIG_FILE}"
ExecReload=/bin/kill -s HUP $MAINPID
LimitNOFILE=8192
KillMode=mixed
PrivateTmp=true
Restart=always
RestartSec=10s
#NoNewPrivileges=yes
#PrivateDevices=yes
#DevicePolicy=closed
#ProtectSystem=true
#RestrictAddressFamilies=AF_INET AF_INET6 AF_UNIX
#AmbientCapabilities=CAP_NET_BIND_SERVICE

[Install]
WantedBy=multi-user.target

