Unit]
Description=Glauth LDAP Server

[Service]
Type=simple

EnvironmentFile=/etc/glauth/glauth.env
ExecStart=/usr/local/bin/glauth -c ${GLAUTH_CONFIG_FILE_PATH}
User=_glauth
Group=_glauth

StandardOutput=journal
StandardError=journal

ProtectSystem=true
NoNewPrivileges=true
ProtectHome=tmpfs
PrivateTmp=true
PrivateDevices=true
ProtectClock=true
ProtectKernelTunables=true
ProtectKernelModules=true
ProtectKernelLogs=true
ProtectControlGroups=true

