name: ci
on: pull_request

jobs:
  get-diff:
    runs-on: ubuntu-latest
    outputs:
      diff: ${{ steps.diff.outputs.diff }}
    steps:
      - uses: actions/checkout@v3
      - uses: technote-space/get-diff-action@v6
        id: get-diff
        with:
          PATTERNS: projects/**/package.yml
      - id: diff
        run: |
          RESULT=$(echo ${{ steps.get-diff.outputs.diff }} | sed 's#projects/\(.*\)/.*#\1#')
          echo "diff=$RESULT" >> $GITHUB_OUTPUT
  build:
    strategy:
      fail-fast: false
      matrix:
        platform:
        - darwin+x86-64
        - linux+x86-64
        - darwin+aarch64
        - linux+aarch64
    needs: [get-diff]
    uses: ./.github/workflows/build.yml
    with:
      projects: ${{ needs.get-diff.outputs.diff || 'zlib.net' }}
      platform: ${{ matrix.platform }}
    secrets: inherit
