name: indexer

on:
  pull_request:
    paths:
      - .github/scripts/utils/indexer.ts
      - .github/workflows/indexer.yml
  push:
    branches: main
    paths:
      - projects/**/package.yml
      - .github/scripts/utils/indexer.ts
      - .github/workflows/indexer.yml

concurrency:
  group: indexer/${{ github.ref || 'main' }}
  cancel-in-progress: true

jobs:
  new-pkgs:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - uses: pkgxdev/setup@v2
        with:
          +: deno

      - run: mkdir out
      - run: deno run -A .github/scripts/utils/indexer.ts > out/pkgs.json

      - uses: JamesIves/github-pages-deploy-action@v4
        with:
          folder: out
