name: new-version
run-name: building ${{ inputs.projects }}

on:
  workflow_call:
    inputs:
      projects:
        description: eg. `foo.com=1.2.3 bar.com^2.3.4`
        required: true
        type: string
  workflow_dispatch:
    inputs:
      projects:
        description: eg. `foo.com=1.2.3 bar.com^2.3.4`
        required: true
        type: string

jobs:
  divide:
    runs-on: ubuntu-latest
    outputs:
      pkgs: ${{ steps.divide.outputs.pkgs }}
    steps:
      - run: |
          var="$(echo ${{ inputs.projects }} | jq -R -s -c 'split(" ")')"
          echo "pkgs=$var" >> $GITHUB_OUTPUT
        id: divide

  pkgit:
    needs: divide
    strategy:
      matrix:
        pkg: ${{ fromJSON(needs.divide.outputs.pkgs) }}
    uses: ./.github/workflows/pkg.yml
    with:
      pkg: ${{ matrix.pkg }}
    secrets: inherit

  complain:
    needs: pkgit
    if: failure()
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
    permissions:
      issues: write
    steps:
      - uses: actions/checkout@v4
      - uses: ./.github/actions/complain
        with:
          pkg: ${{ inputs.pkg }}
          platform: ${{ inputs.name }}
