name: new-version
run-name: new-version (${{ inputs.projects }})
on:
  workflow_dispatch:
    inputs:
      projects:
        description: eg. `foo.com=1.2.3 bar.com^2.3.4`
        required: true
        type: string


jobs:
  build:
    strategy:
      fail-fast: false
      matrix:
        platform:
        - darwin+x86-64
        - linux+x86-64
        - darwin+aarch64
        - linux+aarch64
    uses: ./.github/workflows/build.yml
    with:
      new-version: true
      projects: ${{ inputs.projects }}
      platform: ${{ matrix.platform }}
    secrets: inherit
  index_data:
    needs: [build]
    if: success()
    uses: ./.github/workflows/index-data.yml
    with:
      projects: ${{ inputs.projects }}
    secrets: inherit
